listview.results-list > row {
    border-radius: 4px;
}

listview.results-list {
    margin-left: 6px;
    margin-right: 6px;
}

listview.results-list > row:selected {
    background: @selected_bg_color;
}
